.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    background-color: #333;
    padding: 10px;
    color: white;
    z-index: 50;
}

.menu button {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #555;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 10px;
}

.menu button:hover {
    background-color: #777;
}

/* Ajoutez ces styles pour le slider */
.menu label {
    display: block;
    margin-top: 10px;
    color: white;
    font-size: 15px;
}

.menu input[type="range"] {
    display: block;
    width: 80%;
}

#drop-zone {
    border: 2px dashed #ccc; /* Style de la bordure pour indiquer la zone de dépôt */
    padding: 5px; /* Espace intérieur de la zone de dépôt */
    margin-top: 10px; /* Espace entre le dernier bouton et la zone de dépôt */
    pointer-events: auto; /* Réactive les interactions de la souris */
    font-size: 5px;
    text-align: center;
}

#drop-zone img {
    max-width: 100%;
    max-height: 100%;
}

#usePhysicsLabel {
    margin-top: 10px;
    font-size: 10px; /* Ajustez la taille de la police selon vos préférences */
}

#usePhysicsCheckbox {
    margin-right: 5px; /* Espace entre la case à cocher et le texte */
}
/* Ajoutez ces styles pour les couleurs */
#usePhysicsLabel.true {
    color: green;
}

#usePhysicsLabel.false {
    color: white;
}