.menu {
    position: fixed;
    top: 0;
    left: -250px; /* hidden by default */
    width: 250px;
    height: 100vh; /* Set the height to the full viewport height */
    background-color: #222; /* Darker background for a more elegant look */
    transition: left 0.3s ease, background-color 0.5s ease;
    z-index: 50;
    padding: 15px;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.2);
    border-right: 2px solid #444;

    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espace les éléments uniformément */
    box-sizing: border-box;
}

.menu.active {
    left: 0;
}

#burger-icon {
    cursor: pointer;
    color: #fff;
    font-size: 28px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
}

.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1; /* Fait en sorte que les items prennent le maximum d'espace */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* Espacement vertical des boutons */
}

.menu-items button {
    width: 100%;
    padding: 1.5vh; /* Padding adapté à la hauteur de la fenêtre */
    margin-bottom: 0.1vh; /* Espace entre les boutons */
    background-color: #444;
    color: white;
    border: 1px solid #555;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2vh; /* Taille de la police en fonction de la hauteur */
    transition: background-color 0.3s ease;
}

.menu-items button:hover {
    background-color: #555;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.menu-items button.red {
    background-color: #880000;
}

.menu-items button.red:hover {
    background-color: #aa0000;
}

.menu label {
    display: block;
    margin-top: 10px;
    color: white;
    font-size: 1.8vh; /* Taille de la police en fonction de la hauteur */
}

.menu input[type="range"] {
    display: block;
    width: 100%;
    margin-top: 5px;
    -webkit-appearance: none;
    background-color: #666;
    height: 5px;
    border-radius: 5px;
}

.menu input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #aa0000;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.menu input[type="range"]:hover {
    background-color: #777;
}

.menu-category {
    margin-top: 2vh;
    padding: 1vh;
    background-color: #333;
    border-radius: 8px;
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.category-title {
    font-size: 2vh; /* Taille de la police en fonction de la hauteur */
    color: #ffdf7e; /* Light gold for a visual contrast */
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#drop-zone {
    border: 2px dashed #ccc;
    padding: 1vh;
    margin-top: 1vh;
    background-color: #2a2a2a;
    color: white;
    font-size: 1.8vh;
    text-align: center;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

#drop-zone:hover {
    background-color: #333;
    border-color: #888;
}

#drop-zone:active {
    background-color: #555;
    border-color: #aaa;
}

#usePhysicsLabel {
    cursor: pointer;
    margin-top: 1vh;
    font-size: 1.8vh; /* Ajuste la taille de la police */
    display: flex;
    align-items: center;
}

#usePhysicsCheckbox {
    margin-right: 5px;
    width: 14px;
    height: 14px;
}

#usePhysicsLabel.true {
    color: green;
}

#usePhysicsLabel.false {
    color: rgb(145, 0, 0);
}